@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0;
  margin: 0;
  /* font-family: 'Open Sans',sans-serif; */
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center; /* Mengatur logo dan teks agar berada di tengah-tengah vertikal */
}

.logo img {
  width: 60px; /* Sesuaikan ukuran logo */
}

.logo-text {
  margin-left: 10px; /* Jarak antara logo dan teks */
}

.menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 30px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu li a {
  text-decoration: none;
  color: black;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 0;
  list-style: none;
  padding: 0.1rem;
}

.login-btn {
  color: white;
  text-decoration: none;
  padding: 8px 15px;
  border: 1px solid #008374;
  background-color: #008374;
  border-radius: 5px;
}

.login-btn:hover {
  background-color: white;
  color: black;
}

header {
  background-color: #008374; /* Warna background header */
  padding: 100px;
  text-align: center;
  color: white;
}

.container {
  width: 80%;
  margin: 0 auto;
}

main {
  background-color: white;
  padding: 20px 0;
}

.news .container {
  text-align: center;
}

.news article {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  /* Removed box-shadow */
  text-align: left;
  margin: 0 20px;
}

.news article h5 {
  margin-top: 0;
  color: #00796b;
}

.news article h3 {
  margin-top: auto;
  color: black;
}

.news article .date {
  display: block;
  color: black;
  font-size: 14px;
  margin-bottom: 10px;
}

.news article img {
  max-width: 80%;
  display: block;
  border-radius: 8px;
  text-align: center;
  margin: 20px auto;
}

.berita {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  margin: 20px;
  text-align: justify; /* Justify text alignment */
}

.berita p {
  margin-bottom: 20px; /* Space between paragraphs */
}

.footer {
  background-color: #008374;
  color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  gap: 20px;
}

.footer-icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.footer-icon img {
  width: 20px;
  height: 20px;
}

.footer-icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-icon:hover {
  background-color: #ddd;
}

.right-section p {
  margin: 0;
  text-align: right;
}
